# Compiled binaries
trap
trap.exe
*.out
*.o
*.obj

# CUDA binaries
*.cu.o
*.cu.out
*.ptx

# Results / temporary files

*.log

# System files
.DS_Store
Thumbs.db

# VS Code / IDE files
.vscode/
.idea/

# Build directories
build/
dist/
Debug/
Release/


